<ion-header>
    <ion-toolbar>
      <div class="cabecera">
        <div class="cabecera-left">
            <ion-list>
              <ion-item>
                <ion-label>birragram-user</ion-label>
                <ion-select [interfaceOptions]="customActionSheetOptions" interface="action-sheet">
                  <ion-select-option value="red">Red</ion-select-option>
                  <ion-select-option value="purple">Purple</ion-select-option>
                  <ion-select-option value="yellow">Yellow</ion-select-option>
                  <ion-select-option value="orange">Orange</ion-select-option>
                  <ion-select-option value="green">Green</ion-select-option>
                </ion-select>
              </ion-item>
            </ion-list>
        </div>
        <div class="cabecera-center">
        </div>
        <div class="cabecera-right">
          <ion-button fill="clear" shape="undefined" size="small">
            <!-- <ion-img src="../assets/icons/IGTV_logo.png" class="icon-topbar igtv"></ion-img> -->
            <ion-icon src="../../assets/icons/stories-history.svg" class="icon-topbar igtv" size="large"></ion-icon>            
          </ion-button>
          <ion-button fill="clear" shape="undefined" size="small">
            <ion-icon name="menu" class="icon-topbar" size="large"></ion-icon>
          </ion-button>
        </div>
      </div>
    </ion-toolbar>
   </ion-header>