<ion-content class="contenedor">
    <app-topbar-perfil></app-topbar-perfil>
    <app-top-perfil></app-top-perfil>
    
          <ion-content>
            <super-tabs>
              <super-tabs-toolbar slot="top" color="light">
                <super-tab-button>
                  <ion-icon name="list"></ion-icon>
                </super-tab-button>
                <super-tab-button>
                  <ion-icon name="person"></ion-icon>
                </super-tab-button>
              </super-tabs-toolbar>
              <super-tabs-container>
                <super-tab>
                  <ion-nav [root]="tab51Page"></ion-nav>
                </super-tab>
                <super-tab>
                  <ion-nav [root]="tab52Page"></ion-nav>
                </super-tab>
              </super-tabs-container>
            </super-tabs>
          </ion-content>
          
</ion-content>
