
    <div class="toolbar-simple">
      <div class="cabecera">
        <div class="cabecera-left">
          <ion-button [routerLink]="['../tabs/tab5']" fill="clear" shape="undefined" size="small">
              <ion-icon name="close" class="icon-topbar" size="large"></ion-icon>            
          </ion-button>
        </div>
        <div class="cabecera-center">
          <h1>Editar perfil</h1>
        </div>
        <div class="cabecera-right">
          <ion-button [routerLink]="['../tabs/tab5']" fill="clear" shape="undefined" size="small">
            <ion-icon name="checkmark" color="primary" class="icon-topbar" size="large"></ion-icon>
          </ion-button>
        </div>
      </div>
    </div>
