<div class="columna padding">
  <div class="fila top">
    <div class="imgPerfil"><img src="../../assets/perfil.jpeg"/></div>
    <div class="numeros"><h1>1.103</h1><span>Publicaciones</span></div>
    <div class="numeros"><h1>1.483</h1><span>Seguidores</span></div>
    <div class="numeros"><h1>746</h1><span>Seguidos</span></div>
  </div>
  <div class="fila middle1">
    <h1 class="nombre"> César Vargas</h1>
    <p>No por mucho madrugar se amanece más temprano</p>
  </div>
  <div class="fila middle2">
    <button class="editarPerfil">Editar perfil</button>
  </div>
  <div class="fila bottom">
    <div class="story">
      <div class="circle">
        <ion-icon name="add" size="large"></ion-icon>
      </div>
      <h6>Nueva</h6>
    </div>
    <div class="story">
      <div class="circle">
        <img src="../../../assets/stories/1.jpeg">
      </div>
      <h6>En la cancha</h6>
    </div>
    <div class="story">
      <div class="circle">
          <img src="../../../assets/stories/2.jpeg">
      </div>
      <h6>Comiendo</h6>
    </div>
    <div class="story">
      <div class="circle">
          <img src="../../../assets/stories/3.jpeg"/>
        <ion-icon name="add" size="large"></ion-icon>
      </div>
      <h6>Con los pibe</h6>
    </div>
    <div class="story">
      <div class="circle">
          <img src="../../../assets/stories/4.jpeg"/>
        <ion-icon name="add" size="large"></ion-icon>
      </div>
      <h6>Saltando</h6>
    </div>
    <div class="story">
      <div class="circle">
          <img src="../../../assets/stories/5.jpeg"/>
      </div>
      <h6>Una mujer</h6>
    </div>
  </div>
</div>