<ion-header>
  <ion-toolbar>
    <div class="cabecera">
      <div class="cabecera-left">
        <ion-button fill="clear" shape="undefined" size="small">
          <ion-img src="../assets/icons/ig-camera.png" class="icon-topbar"></ion-img>
        </ion-button>
      </div>
      <div class="cabecera-center">
        <ion-img src="../assets/icons/ig_logo.png" class="logo"></ion-img>
      </div>
      <div class="cabecera-right">
        <ion-button fill="clear" shape="undefined" size="small">
          <ion-img :src="../assets/icons/IGTV_logo.png" class="icon-topbar igtv"></ion-img>
        </ion-button>
        <ion-button fill="clear" shape="undefined" size="small">
          <ion-img src="../assets/icons/ig-share.png" class="icon-topbar"></ion-img>
        </ion-button>
      </div>
    </div>
  </ion-toolbar>
 </ion-header>